@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed; /* Texto principal claro */
  --border-color: #262626;
  --text-primary: #ededed;
  --text-secondary: #a1a1a1;
  --azul: #205099;

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
  }

  html {
    scroll-behavior: smooth;
  }

  @theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-accent: var(--azul);
  }
}
